:root {
  --light: #fdf8e5;
}

body {
  background-color: var(--light);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  margin: 0;
}

label {
  padding: 2em;
}

input,
textarea,
select,
button {
  padding: 5px;
  margin: 5px;
}

.errorMsg {
  color: red;
  font-size: small;
}
